<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Manager - Home</title>
	<link rel="icon" href="../static/images/Fevicon.png" type="image/png">

  <link rel="stylesheet" href="../static/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../static/vendor/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="../static/vendor/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="../static/vendor/linericon/style.css">
  <link rel="stylesheet" href="../static/vendor/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="../static/vendor/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="../static/vendor/Magnific-Popup/magnific-popup.css">

  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <!--================ Header Top Area Start =================-->
  <section class="header-top d-none d-sm-block">
    <div class="container">
      <div class="d-sm-flex justify-content-between">
        <ul class="header-top__info mb-2 mb-sm-0">
          <li><a href="tel:01515636779"><span class="align-middle"><i class="ti-mobile"></i></span>+029343250</a></li>
          <li><a href="bookmanager.cse@example.com"><span class="align-middle"><i class="ti-email"></i></span>bookmanager.cse@example.com</a></li>
        </ul>

      </div>
    </div>
  </section>
  <!--================ Header Top Area end =================-->

  <!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <h2>
              <li><span class="align-middle"</span>Book Manager</a></li>
          </h2>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li> 
              <li class="nav-item"><a class="nav-link" href="index.html">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="index.html">Registration</a>

              <li class="nav-item"><a class="nav-link" href="index1.html">Contact</a></li>
            </ul>
          </div> 
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->

  <!--================ Hero Banner start =================-->      
  <section class="hero-banner">
    <div class="hero-banner__content text-center">
      <h1>Spread Your Knowledge</h1>
      <a class="button" href="#">Already user?Sign in</a>
    </div>
  </section>
  <!--================ Hero Banner end =================-->


  <!--================ Work Statics section start =================-->
  <section>
    <div class="container static__single-position">
      <div class="row">
        <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">
          <div class="card static__single">
            <h3>18000</h3>
            <h4>Computer Books</h4>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">
          <div class="card static__single">
            <h3>12900</h3>
            <h4>Physics Books</h4>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">
          <div class="card static__single">
            <h3>9000</h3>
            <h4>Data Science books</h4>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">
          <div class="card static__single">
            <h3>2190000</h3>
            <h4>Mathematical Books</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ Work Statics section end =================-->        

  <!--================ About section start =================-->
  <section class="d-lg-flex align-items-center section-margin--large">

    <div class="container">
      <div class="about__content">
        <h3>We Properly Understand Your Purpose</h3>
        <p>Some books you need for few period of time or some books you canot afford as prize is too high..</p>
        <p>So we try to provide books which are donated by your seniors.Sign in and choose books you need.</p>
        <a class="button mt-xl-3" href="#">Contact Us</a>
      </div>
    </div>
  </section>
  <!--================ About section end =================-->


  <!--================ Subject section start =================-->

  <!--================ Subject section end =================-->

  <!--================ Testimonial section start =================-->  
  n end =================-->

  <!--================ Team section start =================-->  
   <!-- ================ End footer Area ================= -->

  <script src="../static/vendor/jquery/jquery-3.2.1.min1.js"></script>
  <script src="../static/vendor/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/owl-carousel/owl.carousel.min.js"></script>
  <script src="../static/vendor/Magnific-Popup/jquery.magnific-popup.min.js"></script>
  <script src="../static/js/jquery.ajaxchimp.min.js"></script>
  <script src="../static/js/mail-script.js"></script>
  <script src="../static/js/main1.js"></script>
</body>
</html>